@charset "UTF-8"; 

.freepic {
    font-size: 12px;
}

.logo {
  width: 65px;
}

table.striped > tbody > tr:nth-child(2n+1) {
    background-color: rgba(6, 148, 204, 0.21) !important;
}

.material-tooltip{
       background-color: #2196f3 !important;
}