{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}IME "Luz, Harmonia e Paz"{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'hands.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <!--
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet">

     <!-- Compiled and minified CSS 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">

    {% block stylesheet %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    
    <!-- Definindo opções de menu a exibir -->
    <div class="container">
        <nav>
            <div class="nav-wrapper blue lighten-3">
                <img class="logo" src="{% static 'hands.png' %}" />
                <a href="{% url 'doacoes' %}" class="brand-logo truncate flow-text center"> <span class="blue-text darken-4">Instituto de Magnetismo Espiritual "Luz, Harmonia e Paz"</span></a>
                <a href="#" data-target="menu-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="menu-mobile">
        </ul>

        <!-- Main page -->
        <!-- Breadcrumb -->
        <nav class="hide-on-med-and-down blue lighten-2">
            <div class="nav-wrapper">
                <div class="col s12">
                {% block breadcrumb %}
                {% endblock %}
                </div>
            </div>
        </nav>
        <!-- Content -->
            {% block content %}
            {% endblock %}
        <div class="divider"></div>
    </div>

    <footer class="page-footer blue lighten-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">                
                    <p class="grey-text text-darken-4 freepic">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
                </div>
            </div>
        </div>
    </footer>
    

    {% endblock body %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>

    <script type="text/javascript">
        M.AutoInit();
    </script>

    {% block javascript %}{% endblock %}
  </body>
</html>