{% extends 'home.html' %}

{% load forms widget_tweaks materializecss %}

{% block content %}
    <form method="post" class="mb-4" novalidate>
        {% csrf_token %}

{% if form.non_field_errors %}
    <div class="row">
        <div class="col s12">
            <div class="card red darken-1">
                <div class="row">
                    <div class="col s12 m10">
                        <div class="card-content white-text">
                        {% for error in form.non_field_errors %}
                            <p class="red-text">{{ error }}</p>
                        {% endfor %}
                        </div>
                    <div class="col s12 m2">
                        <i class="fa fa-times icon_style" id="alert_close" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

    <div class="row">
    {% for field in form %}
        <div class="input-field col s4">
            {{ field | materializecss }}
        </div>
    {% endfor %}
    </div>
    
    <div class="row">
        <div class="col s6">
            <button type="submit" class="btn btn-primary btn-block blue lighten-1">Salvar</button>
        </div>
        <div class="col s6">
            <input class="btn btn-outline-secondary blue lighten-1" type="button" value="Cancelar" onclick="window.history.go(-1);"/>
        </div>
    </div>
</form>

{% endblock %}

{% block javascript %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(elems, {
                format: "dd/mm/yyyy", 
                defaultDate: new Date({{ donation.date.year }}, {{ donation.date.month }} - 1, {{ donation.date.day }}),
                setDefaultDate: true,
                i18n: {
                    cancel: 'Cancelar',
                    clear: 'Limpar',
                    done: 'Ok',
                    today: 'Hoje',
                    months: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
                    monthsShort:['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
                    weekdays:['Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'],
                    weekdaysShort:['Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
                    weekdaysAbbrev:['S','T','Q','Q','S','S','D'],
                    selectMonths: true,
                    selectYears:40,
                    autoClose: true,
                    showClearBtn: true
                },
            });
        });
    </script>
{% endblock %}