{% extends 'home.html' %}

{% block content %}
    <form method="post" class="mb-4" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <div class="row">
            <div class="col s6">
                <button type="submit" class="btn btn-primary btn-block blue lighten-1">Salvar</button>
            </div>
            <div class="col s6">
                <input class="btn btn-outline-secondary blue lighten-1" type="button" value="Cancelar" onclick="window.history.go(-1);"/>
            </div>
        </div>
  </form>
{% endblock %}