{% extends 'base.html' %}

{% load humanize %}

{% block breadcrumb %}
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content blue darken-4">
        <li><a href="{% url 'doacoes' %}" class="white-text">Doações</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'grupoproduto' %}" class="white-text">Grupos de Produto</a></li>
        <li><a href="{% url 'produto' %}" class="white-text">Produtos</a></li>
        <li><a href="{% url 'medida' %}" class="white-text">Medidas</a></li>
        <li><a href="{% url 'tipo' %}" class="white-text">Tipos de Doação</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper blue lighten-2">            
            <span class="brand-logo">{% block title %}Titulo{% endblock %}</span>
            <ul class="right hide-on-med-and-down">
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Menu<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">        
            Página Principal
        </div>
    </div>
{% endblock %}
