{% load forms widget_tweaks materializecss %}

{% if form.non_field_errors %}
    <div class="row">
        <div class="col s12">
            <div class="card red darken-1">
                <div class="row">
                    <div class="col s12 m10">
                        <div class="card-content white-text">
                        {% for error in form.non_field_errors %}
                            <p class="white-text">{{ error }}</p>
                        {% endfor %}
                        </div>
                    <div class="col s12 m2">
                        <i class="fa fa-times icon_style" id="alert_close" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% for field in form %}
    <div class="row">
        <div class="input-field col s12">
            {% if field.errors %}
            {{ field | materializecss:'red-text text-accent-4' }}
            {% else %}
            {{ field | materializecss }}
            {% endif %}
        </div>
    </div>
{% endfor %}

