{% extends 'home.html' %}

{% block title %}
Medidas
{% endblock %}

{% block content %}
    <div class="container">
        <table class="striped">
            <thead>
                <th>Nome</th>
                <th>Apagar</th>
            </thead>
            <tbody>            
            {% for measure in DonationMeasures %}
                <tr>
                    <td><a href="{% url 'donationmeasure_edit' measure.pk %}">{{ measure.name }}</a></td>
                    <td><a href="{% url 'donationmeasure_delete' measure.pk %}"><i class="material-icons red-text text-accent-4">delete</i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="right">
                <a class="btn-floating waves-effect waves-light blue tooltipped" data-position="right" data-tooltip="Nova Medida" href="{% url 'donationmeasure_create' %}"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
{% endblock %}