{% extends 'donation_list.html' %}

{% load debug_tags %}

{% block doacao %}
    <div class="Section">
        <div class="row valign-wrapper">
            <div class="col s10">
                <h5><b>{{ donation.comment }}</b></h5>
            </div>
            <div class="col s2">
                <a href="{% url 'donation_edit' donation.pk %}"><i class="material-icons small black-text">edit</i></a>
                <a href="{% url 'donation_delete' donation.pk %}"><i class="material-icons small red-text text-accent-4">delete</i></a>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="Section">
        <ul class="collapsible">
            {% for group in Groups %}
            <li>
                <div class="collapsible-header">
                    <div class="col s10">
                        {{ group.group }}
                    </div>
                    <div class="col s2">
                        {{ group.group_quantity }} itens
                    </div>
                </div>
                <div class="collapsible-body">
                    <table class="striped">
                        <thead>
                            <th class="center">Quantidade</th>
                            <th class="center">Medida</th>
                            <th class="center">Produto</th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody>
                        {% for item in Items %}
                            {% if item.product.group.name == group.group %}
                            <tr>
                                <td class="right"><h6>{{item.quantity|floatformat:2}}</h6></td>
                                <td class="center"><h6>{{item.measure}}</h6></td>
                                <td class="center"><h6>{{item.product}}</h6></td>
                                <td><a href="{% url 'donationitem_edit' donation.pk item.pk %}"><i class="material-icons black-text">edit</i></a></td></td>
                                <td><a href="{% url 'donationitem_delete' donation.pk item.pk %}"><i class="material-icons red-text text-accent-4">delete</i></a></td></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="row">
            <div class="right">
                <a class="btn-floating waves-effect waves-light blue tooltipped btn-small" data-position="right" data-tooltip="Novo Item Doado" href="{% url 'donationitem_create' donation.pk %}"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
        

{% endblock %}