{% extends 'home.html' %}

{% block title %}
Produtos
{% endblock %}

{% block content %}
    <div class="container">
        <table class="striped">
            <thead>
                <th>Nome</th>
                <th>Grupo</th>
                <th>Apagar</th>
            </thead>
            <tbody>            
            {% for product in DonationProducts %}
                <tr>
                    <td><a href="{% url 'donationproduct_edit' product.pk %}">{{ product.name }}</a></td>
                    <td>{{ product.group }}</a></td>
                    <td><a href="{% url 'donationproduct_delete' product.pk %}"><i class="material-icons red-text text-accent-4">delete</i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="right">
                <a class="btn-floating waves-effect waves-light blue tooltipped" data-position="right" data-tooltip="Novo Produto" href="{% url 'donationproduct_create' %}"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
{% endblock %}