{% extends 'home.html' %}

{% block title %}
Grupos de Produto
{% endblock %}


{% block content %}
    <div class="container">
        <table class="striped">
            <thead>
                <th>Nome</th>
                <th>Apagar</th>
            </thead>
            <tbody>            
            {% for productgroup in DonationProductGroups %}
                <tr>
                    <td><a href="{% url 'donationproductgroup_edit' productgroup.pk %}">{{ productgroup.name }}</a></td>
                    <td><a href="{% url 'donationproductgroup_delete' productgroup.pk %}"><i class="material-icons red-text text-accent-4">delete</i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="right">
                <a class="btn-floating waves-effect waves-light blue tooltipped" data-position="right" data-tooltip="Novo Grupo de Produtos" href="{% url 'donationproductgroup_create' %}"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
{% endblock %}