{% extends 'home.html' %}

{% block content %}
<div class="row justify-content-center">
	<p class="card-title">Apagar Medida <i>"{{donationmeasure.name}}"</i>?</p>    
	<form method="post" novalidate>
		{% csrf_token %}
        <div class="row">
            <div class="col s6">
                <button type="submit" class="btn btn-primary btn-block red">Apagar</button>
            </div>
            <div class="col s6">
                <input class="btn btn-outline-secondary blue lighten-1" type="button" value="Cancelar" onclick="window.history.go(-1);"/>
            </div>
        </div>
	</form>
</div>
{% endblock %}