{% extends 'home.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="row">
        <div class="col s12">
            Remover {{ donationitem.quantity }} {{ donationitem.measure }} de {{ donationitem.product }} da doação {{ donationitem.donation.type.name | lower }} "{{ donationitem.donation.comment }}"?
        </div>
    </div>
	<form method="post" novalidate>
		{% csrf_token %}
        <div class="row">
            <div class="col s6">
                <button type="submit" class="btn btn-primary btn-block red">Apagar</button>
            </div>
            <div class="col s6">
                <input class="btn btn-outline-secondary blue lighten-1" type="button" value="Cancelar" onclick="window.history.go(-1);"/>
            </div>
        </div>
	</form>
</div>
{% endblock %}