{% extends 'home.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="row">
	<ul class="collapsible">
        <li class="active">
            <div class="collapsible-header">
                Apagar a doação {{donation.type.name | lower}} "{{donation.comment}}"?
            </div>
            <div class="collapsible-body">
                {% if Items %}
                <table class="striped">
                    <thead>
                        <th class="center">Quantidade</th>
                        <th class="center">Medida</th>
                        <th class="center">Produto</th>
                    </thead>
                    <tbody>
                    {% for item in Items %}
                        <tr>
                            <td class="right">{{ item.quantity }}</td>
                            <td class="center">{{ item.measure }}</td>
                            <td class="center">{{ item.product }}</td>
                        </tr>                            
                    {% endfor %}
                </table>
                {% else %}
                    <p>Sem items cadastrados</p>
                {% endif %}
            </div>
        </li>
	<form method="post" novalidate>
		{% csrf_token %}
        <div class="row">
            <div class="col s6">
                <button type="submit" class="btn btn-primary btn-block red">Apagar</button>
            </div>
            <div class="col s6">
                <input class="btn btn-outline-secondary blue lighten-1" type="button" value="Cancelar" onclick="window.history.go(-1);"/>
            </div>
        </div>
	</form>
</div>
{% endblock %}