{% extends 'home.html' %}

{% block title %}
Tipos de Doação
{% endblock %}


{% block content %}
    <div class="container">
        <table class="striped">
            <thead>
                <th>Nome</th>
                <th>Estoque</th>
                <th>Apagar</th>
            </thead>
            <tbody>            
            {% for type in DonationTypes %}
                <tr>
                    <td><a href="{% url 'donationtype_edit' type.pk %}">{{ type.name }}</a></td>
                    {% if type.add_to_stock %}
                    <td><i class="material-icons green-text text-accent-4">add_shopping_cart</i></td>
                    {% else %}
                    <td><i class="material-icons red-text text-accent-4">remove_shopping_cart</i></td>
                    {% endif %}
                    <td><a href="{% url 'donationtype_delete' type.pk %}"><i class="material-icons red-text text-accent-4">delete</i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="right">
                <a class="btn-floating waves-effect waves-light blue tooltipped" data-position="right" data-tooltip="Novo Tipo de Doação" href="{% url 'donationtype_create' %}"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
{% endblock %}