{% extends 'home.html' %}

{% load humanize %}

{% block title %}
Doações
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s2 left">
            <table class="striped">
                <thead>
                    <th>Data</th>
                    <th>Tipo</th>
                </thead>
                <tbody>            
                {% for donation in Donations %}
                    <tr>
                        <td><a href="{% url 'donation_detail' donation.pk %}">{{ donation.date | date:"d/M/Y" }}</a></td>
                        {% if donation.type.add_to_stock %}
                        <td><i class="material-icons green-text text-accent-4">add_shopping_cart</i></td>
                        {% else %}
                        <td><i class="material-icons red-text text-accent-4">remove_shopping_cart</i></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="right">
                    <a class="btn-floating waves-effect waves-light blue tooltipped" data-position="right" data-tooltip="Nova Doação" href="{% url 'donation_create' %}"><i class="material-icons">add</i></a>
                </div>
            </div>
        </div>
        <div class="col s1"></div>
        <div class="col s8">
            {% block doacao %}
            {% endblock %}
        </div>
    </div>
{% endblock %}